/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   2022-11-28 찬민 수정
*/

a,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
center,
div,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
label,
legend,
li,
menu,
nav,
ol,
output,
p,
section,
span,
strong,
time,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

ol,
ul {
  list-style: none;
}

/* cummon */
.hanTit.ranTxt {
  font-family: 'Eulyoo1945', serif;
  font-size: 24px;
}

.top {
  font-family: 'Eulyoo1945', serif;
  font-size: 18px;
  letter-spacing: 0.41em;
  text-indent: 0.41em;
  padding: 25% 15% 5%;
}

section:nth-child(n + 2) {
  border: 1px solid #694a32;
  background: #f1dae0;
  border-radius: 50vw 50vw 0 0;
}
@supports (height: 100dvh) {
  section {
    height: 100dvh;
  }
}
@supports not (height: 100dvh) {
  section {
    height: 100vh;
  }
}

/* 지워야할 임시 CSS */
header {
  display: none;
}

#Skip_Nav,
.QuickMenu,
.popContainer {
  display: none;
}

section:first-child {
  background: pink;
}
